/* BASE FOLDER token will be replaced at compile time by our bash script. */


$logo-url: url('file:///home/developer/project/main/mycivitas-cemetery/docs/assets/logo.svg');
$corner-logo-url: url('file:///home/developer/project/main/mycivitas-cemetery/docs/templates/KartozaSymbolCMYK.svg');
$header-url: url('file:///home/developer/project/main/mycivitas-cemetery/docs/templates/header.svg');
$footer-url: url('file:///home/developer/project/main/mycivitas-cemetery/docs/templates/footer.svg');